body {
	font-family: "Bebas Neue", sans-serif;
	color: white;
	background-color: black;
	font-size: 100%;
	text-align: center;}

.video-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0);
  z-index: 999;
}

.video-modal-content {
  position: absolute; /* required for click placement */
  transform: translate(-50%, -50%); /* centers the top-left at the click point */
}
#video-caption {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Futura', sans-serif;
    color: white;
    font-size: 14px;
    pointer-events: none;
	text-align: center;
	display: none
}
