body {
	font-family: "Bebas Neue", sans-serif;
	color: white;
	background-color: black;
	font-size: 100%;
	text-align: center;}

.video-modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0);
  z-index: 999;
}

.video-modal-content {
  position: absolute; /* required for click placement */
  transform: translate(-50%, -50%); /* centers the top-left at the click point */
}

#popupVideo {
    width: 300px;   /* or any size you want */
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
}
